<app-navbar></app-navbar>
<div class="container pt-5">
  <div class="row justify-content-center">
    <a routerLink="/client-detail" class="col-10 col-lg-5  text-center">
        <div class="card m-3 p-5 bg-dark">
          <h4>client detail</h4>
      </div>
    </a>
    <a routerLink="/deposit" class="col-10 col-lg-5  text-center">
          <div class="card m-3 p-5 bg-danger">
            <h4>deposit</h4>
        </div>
    </a>
    <a routerLink="/withdraw" class="col-10 col-lg-5 text-center">
        <div class="card m-3 p-5 bg-dark">
          <h4>withdraw</h4>
      </div>
    </a>
    <a routerLink="/open-account" class="col-10 col-lg-5  text-center">
        <div class="card m-3 p-5 bg-danger">
          <h5>open new account</h5>
      </div>
    </a>
  </div>
</div>
