<div class=" m-auto p-5 login" >
  <form style="background-image: 'https://retail.momentum.co.za/images/share-image-default.jpg;'">
    <h2>Login here</h2>
    <br>
    <div class="form-group">
      <label for="name">Email address</label>
      <input type="email" class="form-control"   name="email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control"  name="password" [(ngModel)]="password">
    </div>
    <div class="button mb-5">
      <button type="submit" class="m-auto btn btn-dark" (click)="submit()">Submit</button>
    </div>
  </form>
  <div *ngIf="loading" class="mx-auto p-4">
    <h5>please wait .........</h5>
  </div>
  <div *ngIf="hasError" class="incorrect">
    <h5> password or username is incorrect!</h5>
  </div>
</div>
