<app-navbar></app-navbar>
<div class="container account-div mx-auto">
    <h2 class="align">select account</h2>
    <div class="card-body">
      <div class="card-title">
        <select class="form-control" [(ngModel)]="account" (change)="displayAccount(account)">
      <option *ngFor="let data of response.accounts" [value]="data">{{ data }}</option>
      </select>
      <br/>
    </div>
  <div class="">
   <h4 class="align">deposit</h4>
   <br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control p-1" [(ngModel)]="deposit">
    </div>
  </div>
  <br>
  <div class="align">
    <button type="button" class="btn btn-success" (click)="submit()">deposit</button>
  </div>
  <br>
  <div *ngIf="update">
    <h4 class="corner">new balance</h4>
    <div class="card">
      {{ update.balance }}
    </div>
    <div class="card">
      {{ update.overdraft }}
    </div>
  </div>
</div>

